{
    "Version": "2012-10-17",
    "Id": "Policy################",
    "Statement": [
        {
            "Sid": "Stmt################",
            "Effect": "Allow",
            "Action": "s3:GetObject",
            "Principal": {
                "AWS": "*"
            },
            "Resource": "arn:aws:s3:::bucket-name/shortener/*",
            "Condition": {
                "IpAddress": {
                    "aws:SourceIp": [
                        "127.0.0.1/24"
                    ]
                }
            }
        }
    ]
}}