{
    "Version": "2012-10-17",
    "Id": "Policy################",
    "Statement": [
        {
            "Sid": "Stmt################",
            "Effect": "Allow",
            "Action": "s3:GetObject",
            "Principal": {
                "AWS": "*"
            },
            "Resource": "arn:aws:s3:::aws-account/shortener/*",
            "Condition": {
                "IpAddress": {
                    "aws:SourceIp": [
                        "54.239.2.128/27",
                        "54.240.230.128/25",
                        "205.251.233.32/28",
                        "205.251.233.48/29",
                        "205.251.233.160/28",
                        "205.251.233.176/29",
                        "205.251.234.32/28"
                    ]
                }
            }
        }
    ]
}}